# Übung 05: Arbeiten mit Text
Für die folgenden Aufgaben benötigst du die Datei <font color=orange>pokemon_defekt.csv</font>. Importiere sie entsprechend.

In [101]:
import pandas as pd

In [102]:
df_pokemon = pd.read_csv('../../src/pokemon_defekt.csv')
df_pokemon.sample(10)

                             Name        Type 1       Type 2        Stats
126                        seadra         water         nan     HP55-AT65
712  kyuremwhite kyurem legandary       dragon          ice   HP125-AT120
188                     igglybuff        normal       fairy     HP90-AT30
358                        spinda      normal          nan      HP60-AT60
741                        gogoat       grass            NaN  HP123-AT100
771                      hawlucha    fighting       flying      HP78-AT92
434                      torterra         grass       ground   HP95-AT109
567                     stoutland        normal          NaN   HP85-AT110
375                        baltoy      ground      psychic      HP40-AT40
329             mawilemega mawile        steel         fairy   HP50-AT105

## Teilaufgabe 1: Aufbereiten der Daten
Überprüfe ob in den Spalten **NaN**-Werte vorkommen und ob es **überflüssige Leerzeichen** existieren. Behebe die auftretenden Fehler dementsprechend. Fülle die NaN Werte mit dem String 'Nan' und überleg dir wie die Leerzeichen entfernt werden könnten.

**Tipp:** Man sieht im DataFrame nicht sofort ob eine Spalte überflüssige Leerzeichen enthält. Schau dir die einzelnen Spalten als Serie an.

**NaN-Werte überprüfen**

In [103]:
# Lösung 1: Das solltest du immer tuen bevor du mit einem Datensetz arbeitest
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    680 non-null object
Stats     800 non-null object
dtypes: object(4)
memory usage: 25.1+ KB

In [104]:
# Lösung 2: Alle Spalten extra überprüfen - Aufwendig
df_pokemon[df_pokemon['Name'].isna()]
df_pokemon[df_pokemon['Type 1'].isna()]
df_pokemon[df_pokemon['Type 2'].isna()]
df_pokemon[df_pokemon['Stats'].isna()]

Empty DataFrame
Columns: [Name, Type 1, Type 2, Stats]
Index: []

In [105]:
# Lösung 3: Falls uns nur die Anzahl der fehlenden Werte interessiert
df_pokemon.isna().sum()

Name        0
Type 1      0
Type 2    120
Stats       0
dtype: int64

In [106]:
# Überschreiben von NaN Werten mit einem leeren String ''
df_pokemon['Type 2'] = df_pokemon['Type 2'].fillna('Nan')

**Überflüssige Leerzeichen**

In [107]:
# Lösung: Type 1 und Type 2 sind betroffen. (sample ist nur zur Verkürzung des Outputs)
df_pokemon['Type 1'].sample(5)

449      electric
240           water
755         fairy
691           dark
18              bug
Name: Type 1, dtype: object

In [108]:
df_pokemon['Type 2'].sample(5)

486         nan
198      fairy
543         nan
736      normal
271      grass
Name: Type 2, dtype: object

In [109]:
# Alternative möglichkeit bei kategorischen Werten
df_pokemon['Type 1'].unique()

array(['grass', '  grass  ', ' fire ', 'fire', '  fire  ', ' water ',
       'water', '  bug  ', 'bug', ' bug ', 'normal', ' normal ',
       '  normal  ', '  poison  ', 'electric', ' electric ', '  ground  ',
       ' ground ', ' poison ', ' fairy ', 'fairy', ' grass ', 'fighting',
       '  fighting  ', '  water  ', '  psychic  ', ' psychic ', 'psychic',
       ' fighting ', '  rock  ', ' rock ', '  electric  ', 'poison',
       'ghost', ' ghost ', 'rock', 'ice', '  ice  ', '  dragon  ',
       'dragon', '  fairy  ', 'dark', '  ghost  ', 'ground', '  steel  ',
       'steel', '  dark  ', ' ice ', ' dark ', ' steel ', ' dragon ',
       'flying', ' flying ', '  flying  '], dtype=object)

In [110]:
# Entfernen der Leerzeichen
df_pokemon['Type 1'] = df_pokemon['Type 1'].str.strip()
df_pokemon['Type 2'] = df_pokemon['Type 2'].str.strip()

## Teilaufgabe 2:
Erstelle eine neue Spalte mit dem Namen Type in der die Typen 1 und 2 zusammengefasst werden.

**Beispiel:** Dark-Fire

In [119]:
s = df_pokemon['Type 1'].str.capitalize()
df_pokemon['Type'] = s.str.cat(df_pokemon['Type 2'].str.capitalize(), sep='-')
df_pokemon.sample(10)

                        Name    Type 1    Type 2      Stats            Type
699       cobalion legandary     steel  fighting  HP91-AT90  Steel-Fighting
490                spiritomb     ghost      dark  HP50-AT92      Ghost-Dark
339  manectricmega manectric  electric       Nan  HP70-AT75    Electric-Nan
284                poochyena      dark       nan  HP35-AT55        Dark-Nan
448                    shinx  electric       nan  HP45-AT65    Electric-Nan
197                bellossom     grass       nan  HP75-AT80       Grass-Nan
211                   espeon   psychic       nan  HP65-AT65     Psychic-Nan
477                mismagius     ghost       nan  HP60-AT60       Ghost-Nan
656                   joltik       bug  electric  HP50-AT47    Bug-Electric
253                 stantler    normal       nan  HP73-AT95      Normal-Nan

## Teilaufgabe 3:
Der Name der Pokemon wird nicht passend dargestellt. Es sollte jeweils der erste Buchstabe jedes Teil des Namens großegeschrieben werden.

**Beispiel:** Manectricmega Manectric

In [121]:
df_pokemon['Name'] = df_pokemon['Name'].str.title() 
df_pokemon.sample(10)

                Name    Type 1  Type 2      Stats            Type
669          Lampent     ghost    fire  HP60-AT40      Ghost-Fire
452         Roserade     grass  poison  HP60-AT70    Grass-Poison
381           Feebas     water     nan  HP20-AT15       Water-Nan
295         Ludicolo     water   grass  HP80-AT70     Water-Grass
292           Dustox       bug  poison  HP60-AT50      Bug-Poison
533  Rotomwash Rotom  electric   water  HP50-AT65  Electric-Water
117          Koffing    poison     nan  HP40-AT65      Poison-Nan
273          Grovyle     grass     nan  HP50-AT65       Grass-Nan
2           Venusaur     grass  poison  HP80-AT82    Grass-Poison
323         Nosepass      rock     nan  HP30-AT45        Rock-Nan

## Zusatzaufgabe 1:
In der Spalte Status findest du die Werte HP(Health Points) und AT(Attack) in einem String codiert. Versuche die Codierung so aufzulösen, dass anschließend zwei neue Spalten HP udn AT im DataFrame existieren.

In [135]:
# Split
df_pokemon[['HP', 'AT']] = df_pokemon['Stats'].str.split('-', 2, expand=True)
df_pokemon.tail(10)

,Name,Type 1,Type 2,Stats,Type,AT,HP
790,Noibat,flying,dragon,HP40-AT30,Flying-Dragon,AT30,HP40
791,Noivern,flying,dragon,HP85-AT70,Flying-Dragon,AT70,HP85
792,Xerneas Legandary,fairy,nan,HP126-AT131,Fairy-Nan,AT131,HP126
793,Yveltal Legandary,dark,flying,HP126-AT131,Dark-Flying,AT131,HP126
794,Zygarde50% Forme Legandary,dragon,ground,HP108-AT100,Dragon-Ground,AT100,HP108
795,Diancie Legandary,rock,fairy,HP50-AT100,Rock-Fairy,AT100,HP50
796,Dianciemega Diancie Legandary,rock,fairy,HP50-AT160,Rock-Fairy,AT160,HP50
797,Hoopahoopa Confined Legandary,psychic,ghost,HP80-AT110,Psychic-Ghost,AT110,HP80
798,Hoopahoopa Unbound Legandary,psychic,dark,HP80-AT160,Psychic-Dark,AT160,HP80
799,Volcanion Legandary,fire,water,HP80-AT110,Fire-Water,AT110,HP80

In [139]:
# Replace um 'HP' und 'AT' zu löschen
df_pokemon['AT'] = df_pokemon['AT'].str.replace('AT', '')
df_pokemon['HP'] = df_pokemon['HP'].str.replace('HP', '')
df_pokemon.tail(10)

,Name,Type 1,Type 2,Stats,Type,AT,HP
790,Noibat,flying,dragon,HP40-AT30,Flying-Dragon,30,40
791,Noivern,flying,dragon,HP85-AT70,Flying-Dragon,70,85
792,Xerneas Legandary,fairy,nan,HP126-AT131,Fairy-Nan,131,126
793,Yveltal Legandary,dark,flying,HP126-AT131,Dark-Flying,131,126
794,Zygarde50% Forme Legandary,dragon,ground,HP108-AT100,Dragon-Ground,100,108
795,Diancie Legandary,rock,fairy,HP50-AT100,Rock-Fairy,100,50
796,Dianciemega Diancie Legandary,rock,fairy,HP50-AT160,Rock-Fairy,160,50
797,Hoopahoopa Confined Legandary,psychic,ghost,HP80-AT110,Psychic-Ghost,110,80
798,Hoopahoopa Unbound Legandary,psychic,dark,HP80-AT160,Psychic-Dark,160,80
799,Volcanion Legandary,fire,water,HP80-AT110,Fire-Water,110,80

In [141]:
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 7 columns):
Name      800 non-null object
Type 1    800 non-null object
Type 2    800 non-null object
Stats     800 non-null object
Type      800 non-null object
AT        800 non-null object
HP        800 non-null object
dtypes: object(7)
memory usage: 43.8+ KB